 spring:
  filters: stat,log4j,config
  main:
    allow-circular-references: true



  datasource:
    #mysql的配置加载驱动类信息
    driver-class-name:  org.postgresql.Driver
    #mysql的连接信息
    url: jdbc:postgresql://127.0.0.1:5432/weblis?currentSchema=public&stringtype=unspecified
    #用户名
    username: postgres
    #密码
    password: postgres
    # Type 设置使用何种类型的数据源
    type: com.alibaba.druid.pool.DruidDataSource



    #Druid 数据源属性配置 （需要创建数据源配置类，进行配置才会生效）
    initialSize: 5
    minIdle: 5
    maxActive: 20
    maxWait: 60000
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: SELECT 1 FROM DUAL
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    #  配置监控统计拦截的filters，去掉后监控界面sql无法统计，'wall'用于防火墙
    maxPoolPreparedStatementPerConnectionSize: 20
    useGlobalDataSourceStat: true
    connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=500


    #----------------swagger配置-----------------------
    swagger:
      #生产环境改为false（改为false后swagger-ui.html则无法访问）
      enable: true
    #解决Swagger2 异常 NumberFormatException:For input string:""
    logging:
      level:
        io:
          swagger:
            models:
              parameters:
                AbstractSerializableParameter: ERROR

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
 server:
   port: 8088
#   servlet:
#     context-path: /springboot-lis
 mybatis-plus:
   mapper-locations: classpath*:baseMapper/*.xml,classpath*:mapper/*.xml