<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lis.BaseModel.mapper.CallIntervalMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lis.BaseModel.entity.CallInterval">
        <id column="call_interval_id" property="callIntervalId" />
        <id column="call_order" property="callOrder" />
        <id column="order_number" property="orderNumber" />
        <id column="order_company" property="orderCompany" />
        <result column="call_project_id" property="callProjectId" />
    </resultMap>

</mapper>
