<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lis.BaseModel.mapper.ConditionRecMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lis.BaseModel.entity.ConditionRec">
        <id column="id" property="id" />
        <id column="code_coding_code" property="codeCodingCode" />
        <id column="verificationstatus_coding_code" property="verificationstatusCodingCode" />
        <id column="pid" property="pid" />
        <id column="pat_name" property="patName" />
        <id column="status" property="status" />
        <id column="problem_sign" property="problemSign" />
        <id column="ex_specimen_id" property="exSpecimenId" />
        <result column="recordeddate" property="recordeddate" />
        <result column="diagnosis_sign" property="diagnosisSign" />
        <result column="recorder_organization_id" property="recorderOrganizationId" />
        <result column="ex_encounter_type" property="exEncounterType" />
        <result column="ex_encounter_display" property="exEncounterDisplay" />
        <result column="ex_encounter_no" property="exEncounterNo" />
        <result column="ex_pat_dept_id" property="exPatDeptId" />
        <result column="ex_pat_dept_name" property="exPatDeptName" />
        <result column="ex_inp_ward_id" property="exInpWardId" />
        <result column="ex_inp_ward_name" property="exInpWardName" />
        <result column="ex_bed_no" property="exBedNo" />
    </resultMap>

</mapper>
