<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lis.baseModel.mapper.DictVsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lis.baseModel.entity.DictVs">
        <id column="id" property="id" />
        <id column="source_system" property="sourceSystem" />
        <id column="source_id" property="sourceId" />
        <id column="source_code" property="sourceCode" />
        <id column="source_name" property="sourceName" />
        <id column="target_id" property="targetId" />
        <id column="target_code" property="targetCode" />
        <id column="last_modifier_id" property="lastModifierId" />
        <result column="type" property="type" />
        <result column="target_name" property="targetName" />
        <result column="last_modifier" property="lastModifier" />
        <result column="last_updatetime" property="lastUpdatetime" />
    </resultMap>

</mapper>
