<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lis.baseModel.mapper.EprentpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lis.baseModel.entity.Eprentp">
        <id column="eprentp_id" property="eprentpId" />
        <id column="eprentp_desc" property="eprentpDesc" />
        <id column="use_sign" property="useSign" />
        <id column="last_updatetime" property="lastUpdatetime" />
        <result column="eprentp_name" property="eprentpName" />
    </resultMap>

</mapper>
