<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lis.baseModel.mapper.EqpmtnTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lis.baseModel.entity.EqpmtnType">
        <id column="eqpmtn_type_id" property="eqpmtnTypeId" />
        <id column="eqpmtn_class_name" property="eqpmtnClassName" />
        <id column="devicedefinition_id" property="devicedefinitionId" />
        <id column="devicedefinition_name" property="devicedefinitionName" />
        <id column="eqpmtn_type_cycle" property="eqpmtnTypeCycle" />
        <id column="eqpmtn_type_time" property="eqpmtnTypeTime" />
        <id column="eqpmtn_type_time_1" property="eqpmtnTypeTime1" />
        <id column="last_modifie" property="lastModifie" />
        <result column="eqpmtn_class_code" property="eqpmtnClassCode" />
        <result column="last_modifier_id" property="lastModifierId" />
        <result column="eqp_domain" property="eqpDomain" />
        <result column="use_sign" property="useSign" />
        <result column="last_updatetime" property="lastUpdatetime" />
    </resultMap>

</mapper>
