<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lis.baseModel.mapper.EquipmentCheckRecMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lis.baseModel.entity.EquipmentCheckRec">
        <id column="id" property="id" />
        <id column="organization_id" property="organizationId" />
        <id column="check_num" property="checkNum" />
        <id column="check_situation" property="checkSituation" />
        <id column="check_conclusion" property="checkConclusion" />
        <id column="check_time" property="checkTime" />
        <id column="cherker" property="cherker" />
        <result column="equipment_id" property="equipmentId" />
    </resultMap>

</mapper>
