<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lis.baseModel.mapper.HisconnectionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lis.baseModel.entity.Hisconnection">
        <id column="id" property="id" />
        <id column="ip" property="ip" />
        <id column="port" property="port" />
        <id column="dbname" property="dbname" />
        <id column="account" property="account" />
        <id column="connectionstr" property="connectionstr" />
        <id column="status" property="status" />
        <result column="name" property="name" />
    </resultMap>

</mapper>
