<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lis.baseModel.mapper.IntfcLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lis.baseModel.entity.IntfcLog">
        <id column="id" property="id" />
        <id column="business" property="business" />
        <id column="source" property="source" />
        <id column="direction" property="direction" />
        <id column="target" property="target" />
        <id column="result" property="result" />
        <id column="err_log" property="errLog" />
        <id column="status" property="status" />
        <result column="parent_id" property="parentId" />
        <result column="timestamp" property="timestamp" />
        <result column="duration" property="duration" />
        <result column="parameter" property="parameter" />
        <result column="system" property="system" />
    </resultMap>

</mapper>
