<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lis.baseModel.mapper.LinstqcLoitemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lis.baseModel.entity.LinstqcLoitem">
        <id column="linstqc_loitem_id" property="linstqcLoitemId" />
        <id column="loitem_status" property="loitemStatus" />
        <id column="loitem_id" property="loitemId" />
        <id column="linstqc_item_id" property="linstqcItemId" />
        <id column="rgnt_id" property="rgntId" />
        <id column="timestamp" property="timestamp" />
        <id column="item_times" property="itemTimes" />
        <result column="linstqc_id" property="linstqcId" />
    </resultMap>

</mapper>
