<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lis.baseModel.mapper.LinstqcitemavgRecMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lis.baseModel.entity.LinstqcitemavgRec">
        <id column="linstqc_item_avg_id" property="linstqcItemAvgId" />
        <id column="linstqc_item_id" property="linstqcItemId" />
        <id column="linstqc_item_loitem_id" property="linstqcItemLoitemId" />
        <id column="linstqc_item_level_type" property="linstqcItemLevelType" />
        <id column="linstqc_item_avg_status" property="linstqcItemAvgStatus" />
        <id column="linstqc_item_avg_time" property="linstqcItemAvgTime" />
        <result column="labistrmt_id" property="labistrmtId" />
    </resultMap>

</mapper>
