<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lis.BaseModel.mapper.LinstqcRecMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lis.BaseModel.entity.LinstqcRec">
        <id column="id" property="id" />
        <id column="rgnt_id" property="rgntId" />
        <id column="qcmat_id" property="qcmatId" />
        <id column="qcmat_level_type" property="qcmatLevelType" />
        <id column="labistrmt_id" property="labistrmtId" />
        <id column="lspcm_dtmtd_id" property="lspcmDtmtdId" />
        <id column="linstqc_time" property="linstqcTime" />
        <id column="linstqc_recoder_id" property="linstqcRecoderId" />
        <result column="dept_id" property="deptId" />
        <result column="status" property="status" />
        <result column="specimen_id" property="specimenId" />
    </resultMap>

</mapper>
