<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lis.BaseModel.mapper.LinstqcQualityControlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lis.BaseModel.entity.LinstqcQualityControl">
        <id column="linstqc_roomid" property="linstqcRoomid" />
        <id column="devicename_id" property="devicenameId" />
        <id column="linstqc_time" property="linstqcTime" />
        <id column="end_time" property="endTime" />
        <id column="specim_id" property="specimId" />
        <id column="linstqc_type" property="linstqcType" />
        <id column="task_id" property="taskId" />
        <id column="status" property="status" />
        <result column="devicename_name" property="devicenameName" />
        <result column="json" property="json" />
        <result column="times" property="times" />
    </resultMap>

</mapper>
