<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lis.baseModel.mapper.NodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lis.baseModel.entity.Node">
        <id column="id" property="id" />
        <id column="msgid" property="msgid" />
        <id column="op" property="op" />
        <id column="nodeid" property="nodeid" />
        <id column="nodename" property="nodename" />
        <id column="nodetype" property="nodetype" />
        <id column="nodetime" property="nodetime" />
        <id column="runtime" property="runtime" />
        <result column="pindex" property="pindex" />
        <result column="outmsg" property="outmsg" />
        <result column="othernode" property="othernode" />
        <result column="paramstr" property="paramstr" />
    </resultMap>

</mapper>
