<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lis.baseModel.mapper.ObservationPlanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lis.baseModel.entity.ObservationPlan">
        <id column="id" property="id" />
        <id column="observations" property="observations" />
        <id column="devices" property="devices" />
        <id column="practitioner_id" property="practitionerId" />
        <id column="practitioner_name" property="practitionerName" />
        <id column="timestamp" property="timestamp" />
        <id column="status" property="status" />
        <result column="name" property="name" />
    </resultMap>

</mapper>
