<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lis.baseModel.mapper.PfmcvrfRecMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lis.baseModel.entity.PfmcvrfRec">
        <id column="id" property="id" />
        <id column="pfmcvrf_mode" property="pfmcvrfMode" />
        <id column="pfmcvrf_oper_time" property="pfmcvrfOperTime" />
        <id column="pfmcvrf_oprtr_id" property="pfmcvrfOprtrId" />
        <id column="status" property="status" />
        <id column="labistrmt_id" property="labistrmtId" />
        <id column="lspcm_dtmtd_id" property="lspcmDtmtdId" />
        <id column="qcmat_id" property="qcmatId" />
        <result column="pfmcvrf_type" property="pfmcvrfType" />
        <result column="rgnt_id" property="rgntId" />
    </resultMap>

</mapper>
