<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lis.BaseModel.mapper.ProblemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lis.BaseModel.entity.Problem">
        <id column="id" property="id" />
        <id column="specifiedname" property="specifiedname" />
        <id column="fullyspecifiedname" property="fullyspecifiedname" />
        <id column="guid" property="guid" />
        <result column="term_chn" property="termChn" />
    </resultMap>

</mapper>
