<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lis.BaseModel.mapper.SelfserviceItemsRecMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lis.BaseModel.entity.SelfserviceItemsRec">
        <id column="id" property="id" />
        <id column="self_eqp_name" property="selfEqpName" />
        <id column="item_id" property="itemId" />
        <id column="item_name" property="itemName" />
        <result column="self_eqp_id" property="selfEqpId" />
    </resultMap>

</mapper>
