<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lis.baseModel.mapper.ServicerequestCollectionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lis.baseModel.entity.ServicerequestCollection">
        <id column="servicerequest_id" property="servicerequestId" />
        <id column="status" property="status" />
        <id column="id" property="id" />
        <id column="task_json" property="taskJson" />
        <result column="collection_id" property="collectionId" />
    </resultMap>

</mapper>
