<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lis.baseModel.mapper.ServicePeriodMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lis.baseModel.entity.ServicePeriod">
        <id column="service_period_id" property="servicePeriodId" />
        <id column="time_interval" property="timeInterval" />
        <id column="start_time" property="startTime" />
        <id column="end_time" property="endTime" />
        <result column="call_office_set_id" property="callOfficeSetId" />
    </resultMap>

</mapper>
