<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lis.baseModel.mapper.SpecimenRefuseWaitRecMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lis.baseModel.entity.SpecimenRefuseWaitRec">
        <id column="id" property="id" />
        <id column="pat_name" property="patName" />
        <id column="organization_id" property="organizationId" />
        <id column="location_id" property="locationId" />
        <id column="refuse_datetime" property="refuseDatetime" />
        <id column="pid" property="pid" />
        <id column="procedure_id" property="procedureId" />
        <result column="bc_no" property="bcNo" />
    </resultMap>

</mapper>
